.progress-bar {
	display: flex;
	overflow: hidden;
	background-color: #007bff;
	color: #fff;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: width .6s ease;
	white-space: nowrap;
	width: 50%;
}