.btn {
	&-primary {
		background-color: var(--primary-bg-color);
		color: var(--primary-color);
		border-color: var(--primary-bg-color);
		&:hover {
			background-color: var(--primary-bg-color);
			color: #ddd;
			border-color: var(--primary-bg-color);
		}
		&:first-child:active {
			background-color: var(--primary-bg-color);
			color: #ddd;
			border-color: var(--primary-bg-color);
		}
	}
	&-secondary {
		background-color: var(--secondary-bg-color);
		color: var(--secondary-color);
		border-color: var(--secondary-bg-color);
	}
	
}




