.line-clamp {
	&.course-title {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #334d6e;
	display: -webkit-box;
	height: 42px;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	}
}