.color_rate {
	color: var(--rate-color);
}
.third-color {
	color: var(--third-color);
}
.text-content-color {
	color: var(--text-content-color);
}
.price-color {
color: var(--course-price-color);
}
.list-item {
	background: #fff;
	border: 1px solid #d8e9ff;
	border-radius: 5px;
	box-sizing: border-box;
}
.line-clamp {
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	height: 1.4em;
	line-height: 1.4em;
	overflow: hidden;
}
.line-clamp.line-clamp-2-lines {
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: 2.8rem;
}
