@import "../node_modules/bootstrap/scss/bootstrap";
@import "../stories/button/button";
@import "../stories/header/heading/header";
@import "../stories/header/content/content";
@import "../stories/card/card_course/card_course";
@import "../stories/card/card_your_course/your_course";
@import "../stories/card/card_studied_recently/studied_recently";
@import "../stories/rating/rating";
@import "../stories/user object/user_object";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
	--primary-color: #ffffff;
	--primary-bg-color: #d91b5c;
	--secondary-color: #ffffff;
	--secondary-bg-color: #334d6e;
	--rate-color: #ff9000;
	--third-color: #90a0b7;
	--text-content-color: #545e6d;
	--course-price-color: #334d6e;
	
}

* {
	font-size: 14px;
}

.text-through {
	text-decoration: line-through;
}
.mw-250 {
	min-width: 250px;
}

@for $i from 1 through 100 {
	$fontSize: #{$i};
	$fontLineHeight: #{$i + 6} ;
	
	.fs-#{$fontSize} {
		font-size: #{$fontSize}px;
		line-height: #{$fontLineHeight}px;
	}
}
@for $i from 400 through 900 {
	$fontWeight: #{$i};
	
	.fw-#{$fontWeight} {
		font-weight: #{$fontWeight};
	}
}


.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.color-2{
	color: #358914;
}
.bg-while{
	background-color: white;
}

.text-bold{
	font-weight: bold;
}
.text-bold-500{
	font-weight: 500;
}
.text-bold-600{
	font-weight: 600;
}

.text-upercase{
	text-transform: uppercase;
}

// text size
.text-small{
	font-size: 0.8em;
}
.text-sm{
	font-size: 0.9em;
}
.fs-16{
	font-size: 16px;
}
.t-13{
	font-size: 13px;
}
.text-md{
	font-size: 1em;
}
.text-1c2{
	font-size: 1.2em;
}
.text-1c4{
	font-size: 1.4em;
}
.fs-20{
	font-size: 20px;
}

.none-decoration:hover{
	text-decoration: none;
}

.line-through{
	text-decoration: line-through;
}

.hide{
	display: none!important;
}

.btn-xs{
	font-size: .8em;
	padding: 3px 6px;
}
.pointer{
	cursor: pointer;
}
/** Clear list style ul tag */
.ul-none{
	list-style: none;
}

.icon-md{
	font-size: 1.3rem;
}
.round-4{
	border-radius: 4px!important;
}
.round-10{
	border-radius: 10px!important;
}

.fs-10 {
	font-size: 10px;
}

.fs-12 {
	font-size: 12px;
}
.f-12{
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.f-14{
	font-size: 14px;
}

.f-16{
	font-size: 16px;
}
.fs-17{
	font-size: 17px;
}
.f-18{
	font-size: 18px;
}
.f-20{
	font-size: 20px;
}

.f-22{
	font-size: 22px;
}
.f-24{
	font-size: 24px;
}
.f-26{
	font-size: 26px;
}
.f-28{
	font-size: 28px;
}

.f-30{
	font-size: 30px;
}
.fw-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}
.fw-600{
	font-weight: 600;
}
.fw-700{
	font-weight: 700;
}
.fw-800{
	font-weight: 800;
}

.f-b-large{
	font-size: 1.6rem;
}
.f-large{
	font-size: 1.4rem;
}
.f-medium{
	font-size: 1.2rem;
}
.f-small{
	font-size: 0.8rem;
}

@media(min-width: 768px){
	.f-md-12{
		font-size: 12px;
	}
	.f-md-14{
		font-size: 14px;
	}
	
	.f-md-16{
		font-size: 16px;
	}
	.f-md-18{
		font-size: 18px;
	}
	.f-md-20{
		font-size: 20px;
	}
	
	.f-md-22{
		font-size: 22px;
	}
	.f-md-24{
		font-size: 24px;
	}
	
	.f-md-30{
		font-size: 30px;
	}
	
	.f-md-48{
		font-size: 48px;
	}
}

@media(min-width: 992px){
	.f-lg-12{
		font-size: 12px;
	}
	.f-lg-14{
		font-size: 14px;
	}
	
	.f-lg-16{
		font-size: 16px;
	}
	.f-lg-18{
		font-size: 18px;
	}
	.f-lg-20{
		font-size: 20px;
	}
	
	.f-lg-22{
		font-size: 22px;
	}
	.f-lg-24{
		font-size: 24px;
	}
	
	.f-lg-30{
		font-size: 30px;
	}
	.f-lg-34{
		font-size: 34px;
		line-height: 40px;
	}
}
@media(min-width: 1200px){
	.f-xl-12{
		font-size: 12px;
	}
	.f-xl-14{
		font-size: 14px;
	}
	
	.f-xl-16{
		font-size: 16px;
	}
	.f-xl-18{
		font-size: 18px;
	}
	.f-xl-20{
		font-size: 20px;
	}
	
	.f-xl-22{
		font-size: 22px;
	}
	.f-xl-24{
		font-size: 24px;
	}
	
	.f-xl-30{
		font-size: 30px;
	}
}

.color_9{
	color: #999999;
}

.mt-2{
	margin-top: 2rem;
}

.mb-4_5,.my-4_5,.m-4_5{
	margin-bottom: 2rem!important;
}
.mt-4_5,.my-4_5,.m-4_5{
	margin-top: 2rem!important;
}
.ml-4_5,.mx-4_5,.m-4_5{
	margin-left: 2rem!important;
}
.mr-4_5,.mx-4_5,.m-4_5{
	margin-right: 2rem!important;
}

.pb-4_5,.py-4_5,.p-4_5{
	padding-bottom: 2rem!important;
}
.pt-4_5,.py-4_5,.p-4_5{
	padding-top: 2rem!important;
}
.pl-4_5,.px-4_5,.p-4_5{
	padding-left: 2rem!important;
}
.pr-4_5,.px-4_5,.p-4_5{
	padding-right: 2rem!important;
}
